@charset "UTF-8";
/* CSS Document */
body {
	background-image:url("../img/aboutbg.jpg");


	}
a { color: inherit; } 
.link a:hover{
	color:lightblue;
}

#header{
	height: 79px;
	width: 100%;
	
	}
#menu{
	height: 80px;
	float: right;
	margin-right: 100px;
	margin-top: 50px;}
	

#slider{
	background-image: url('../img/about-banner2.jpg');
	background-position: center;
	height: 500px;
	width: 100%;
	text-align: center;
	color: #FFF;
	

	}

#slider2{
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	padding-top: 150px;
	font-weight: 300;
				font-size: 80px;
				margin-bottom: 30px;
}

.slider2 h1 {

font-weight: 300;
font-size: 80px;
margin-bottom: 30px;
}
	
.bg {
	width: 100%;
	top: 0;
	left: 0;

}
#aboutus{ 
	
}
#aboutscroll{
	height:120px;
	width:80%;
	margin: 0 auto;
	font:16px/26px Georgia, Garamond, Serif;
	
	
	
}

#aboutscroll2{
	padding: 10px;
}
	
#aboutcontainer{
	width: 60%;
	margin: 0 auto;	
	margin-top: 30px;


}
#about{
	float: left;
	color: #FFF;
	padding-top: 0px;
	padding-right:20px;
	padding-left: 20px;
	background-color: #000;
	background: rgba(255, 255, 255, 0.1);
	margin-bottom: 30px;
	
	width: 100%;
	
	}
#about2{
	float: left;
	color: #FFF;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-right:20px;
	padding-left: 20px;
	background-color: #000;
	background: rgba(255, 255, 255, 0.1);
	margin-bottom: 30px;
	width: 100%;
	}


#hiredcontainer{
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFF;
	height: 310px;
}

#hired{	
	float: left;
	margin-right: 10px;
	float: left;
}

#hired2{ 
	float: right;
	text-align: left;
	padding: 5px;
	max-height: 150px; 
	width: 300px;
	display: inline-block;
	}
td { border-bottom: 1px solid black; }

#booking{
	float: left;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: table;
	text-align: center;
}
.button{
	
	width: 400px;
	margin-left: 100px;
	display: inline-block;
    position: relative;
    margin: 10px;
	margin-left: auto;
	margin-right: auto;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

#footer{
	width: 100%;
	color: #FFF;
	height: 40px;
	background-color:#000;
	position: fixed;
	bottom: 0px;
	}
.gray {
    color: #515151;
 
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}
	
#bookingbutton {
	margin-top: 10px;
	width: 100%;
	height: 80px;	
	float: left;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#book {
text-transform: uppercase;
border: 3px solid white;
height: 40px;
width: 180px;
margin: auto;
cursor: pointer;
margin-bottom: 50px;
vertical-align: middle;
color: #FFF;
padding-bottom: 11px;
}
#book:hover {
text-transform: uppercase;
border: 3px solid white;
height: 40px;
width: 180px;
margin: auto;
cursor: pointer;
background-color: rgba(1,64,255,.7);
color: #FFF;
margin-bottom: 50px;


}
}
#book p {
font-size: 20px;
font-weight: 700;
letter-spacing: 2px;
margin: 8px 0px;
cursor: pointer;
}
#fbook {
	background-image: url(../img/fbook.png);
	width:42px;
	height:42px;
	opacity:0.4;
	}
#fbook:hover{
	background-image:url(../img/fbookblue.png);
	width:42px;
	height:42px;
	opacity:0.7;
}


a {
	text-decoration: none;
	color: inherit;
}
html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}
body {
	height: 100%;
}
.full {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% auto;			
}
.banner {
	background-image: url("./img/banner.jpg");	
}
.join {
	background-image: url("./img/banner2.jpg");
}
.full .content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	margin: auto;
}
.banner .content {
	height: 400px;
	max-width: 800px;
	color: white;
	text-align: center;
	/*background-color: rgba(255,255,255,0.1);*/
}
.banner h1 {
	font-weight: 300;
	font-size: 80px;
	margin-bottom: 30px;
}
.banner p {
	font-weight: 100;
	font-size: 38px;
	margin: 0px;
}
.banner .book {
	text-transform: uppercase;
	border: 3px solid white;
	height: 40px;
	width: 180px;
	margin: auto;
	margin-top: 50px;
	cursor: pointer;
}
.banner .book:hover {
	background: white;
}
.banner .book p {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 8px 0px;
	cursor: pointer;
}
.banner .book:hover p {
	color: black;
}
.join {
	background-color: #222;
	color: white;
}
.join .content {
	text-align: center;
}
.row {
	margin: auto;
}
.row .unit {
	display: inline-block;
	max-width: 50%;
}
@media screen and (max-width: 900px) {
	.join {
		padding-top: 30px;
	}
	.join .row .unit {
		margin: auto;
		display: block;
	}
}
.join h1 {
	font-weight: 100;
	font-size: 30px;
}
.join p {
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 1px;
}
.mapinfo {
	text-align: left;
	width: 400px;
	padding-left: 20px;
	vertical-align: top;
}
.nav {
	position: fixed;
	color: white;
	padding: 30px 0px;
	text-align: center;
	font-weight: 300;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
}
.nav .link {
	display: inline-block;
	text-transform: uppercase;
	padding: 0px 20px;
}

#wrapper {
	background-color: #fff;
	width: 100%;
	height: 400px;
	/*margin-top: -225px;*/
	overflow: hidden;
	/*position: absolute;*/
	top: 50%;
	left: 0;
}
#carousel img {
	display: block;
	float: left;
}
#prev, #next {
	background-color: rgba(255, 255, 255, 0.7);
	display: block;
	height: 400px;
	width: 50%;
	top: 0;
	position: absolute;
}
#prev:hover, #next:hover {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
}
#prev {
	left: -495px;
}
#next {
	right: -495px;
}
#pager {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
#pager a {
	border: 2px solid #fff;
	border-radius: 10px;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}
#pager a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
#pager a span {
	display: none;
}
#pager a.selected {
	background-color: #fff;
}
.fotorama__nav-wrap {
	position: relative;
	top: -80px;
}
.fotorama__nav__shaft {
	opacity: 0.5;
	transition: opacity 0.15s linear !important;
	-webkit-transition: opacity 0.15s linear !important;
	-o-transition: opacity 0.15s linear !important;
	-moz-transition: opacity 0.15s linear !important;
}
.fotorama__nav__shaft:hover {
	opacity: 1;
}
.fotorama__html .info {
	padding: 100px 80px;
	height: 100%;
	background: rgba(0,0,0,0.2);
}
.fotorama__html .info .title {
	color: white;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 100;
}
.fotorama__stage__shaft {
	margin: 0px -2px;
}
.fotorama__stage {
	height: 100% !important;
}
/*.fotorama__stage__frame {
	margin-right: -4px;
}*/
.bolder {
	font-weight: 300 !important;
}
