body {
  margin:0;
  padding:0;
  background:rgba(0,0,0,0.5);
  font-family: 'Lato', sans-serif;
  background-image:url('../img/banner2.jpg');
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  position: fixed;
  color: white;
  padding: 30px 0px;
  text-align: center;
  font-weight: 300;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.nav .link {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 20px;
}

.container {
  width:100%;
  float:left;
  margin-top:8em;
}


#header{
  width:100%;
  /*position:fixed;*/
  height:80px;
  background:blue;
  float:left;
}
 
#content {
  width:100%;
  margin:auto;
}

.event_holder {
  float:left;
  margin:auto;
}
/**
 * CSS flip added by
 */
 .image {
   width:100%;
   height:100%;
 }
.panel {
  width: 350px;
  position: relative;
  min-height: 1px;
  margin:15px;
  float:left;
  display:block;
}

.row {
  margin:auto;
  display:block;
}

.card {
    width: 100%;
    height: 100%;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
 
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}