body {
  margin:0;
  padding:0;
  background:rgba(0,0,0,0.5);
  background-image:url('../img/banner2.jpg');
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width:100%;
  float:left;
  margin-top:8em;
  text-align: center;
}

#events {
  max-width:1200px;
  margin:auto;
}

.flip {
  -webkit-perspective: 800;
   width: 250px;
   height: 250px;
    position: relative;
    margin: 10px;
    display: inline-block;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
    cursor: pointer !important;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    text-align: center;
}
.flip .card .front {
  background-position: center;
  background-size: auto 100%;
  position: absolute;
  z-index: 1;
    color: white;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: black;
    color: white;
}
.card-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.card-content .name {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-content .date {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
}
.card-content .desc {
  margin: 20px 15px;
  font-size: 13px;
  line-height: 18px;
}
.title {
  color: white;
  text-transform: uppercase;
  text-align: left;
  max-width: 1100px;
  margin: auto;
  font-size: 60px;
  font-weight: 300;
  border-bottom: 2px solid white;
}