html {
  font-family: 'Lato', sans-serif;
}

body {
  padding-bottom:200px;
  background-image:url('../img/banner2.jpg');
  margin:0;
  padding:0;
  /*font-family: Consolas, Courier New, monospace;
  font-family:BrandonRegular, sans-serif;*/


}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	position: fixed;
	color: white;
	padding: 30px 0px;
	text-align: center;
	font-weight: 300;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
}

.nav .link {
	display: inline-block;
	text-transform: uppercase;
	padding: 0px 20px;
}

#signup-form{
	position: absolute;
	left: 0;
	right: 0;
	width:75%;
	margin:5% auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-border-radius:.6em;
	-moz-border-radius:.6em;
	-ms-border-radius:.6em;
	-o-border-radius:.6em;
	border-radius:.6em;
	display: none;
	/*background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);*/
	color: white;
	margin-top:5em;
}

.row {
    margin-left: 25%;
}

input{
	padding:1.1em;
	border: 1px solid #A7A7A7;
	display: block;
	clear: both;
}

.input_field {
	width:100%;
	margin-bottom:20px;
	margin-top:20px;
}
#signup-button {
    width: 50%;

}


#signup-email,#signup-event,#signup-company,#signup-telephone,#signup-date,#signup-start,#signup-end,#signup-contact,#signup-venue{
	margin-bottom:-1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-border-radius:.6em;
	-moz-border-radius:.6em;
	-ms-border-radius:.6em;
	-o-border-radius:.6em;
	border-radius:.6em;
	width:50%;
}


#signup-comments{
	margin-bottom:-1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-border-radius:.6em;
	-moz-border-radius:.6em;
	-ms-border-radius:.6em;
	-o-border-radius:.6em;
	border-radius:.6em;
	width:50%;
	padding-top:1em;
	padding-left:1em;
}

input[type=button], button{
	height:2.3em;
	padding:0 1em;
	font-size:1.2em;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-border-radius:.3em;
	-moz-border-radius:.3em;
	-ms-border-radius:.3em;
	-o-border-radius:.3em;
	border-radius:.3em;
	border:none;
	background:#424242;
	color:#FFF;
	display:block;
	cursor: pointer;
	clear:both;
	margin-bottom:5em;
}

.row{
 
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.row:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.row input:hover {

	box-shadow: 0 0 11px rgba(80, 197, 228, 1);
}

.row textarea:hover {

	box-shadow: 0 0 11px rgba(80, 197, 228, 1);
}



/* for smaller tablet(ish) screens */
@media (max-width:990px) {

	#signup-email,#signup-event,#signup-company,#signup-telephone,#signup-date,#signup-start,#signup-end,#signup-contact,#signup-venue{

		width:75%;
	}

	#signup-comments{

		width:75%;
	}

	input[type=button],button{

		margin-left:11%;
	}

} /* end media max-width 900px */