html {
font-family: 'Lato', sans-serif;
}

body {
padding-bottom:200px;
background-image:url('../img/banner2.jpg');
margin:0;
padding:0;
/*font-family: Consolas, Courier New, monospace;
font-family:BrandonRegular, sans-serif;*/


}

a {
text-decoration: none;
color: inherit;
}

#form_background{
background: none repeat scroll 0% 0% #000;
opacity: 0.8;
width: 44%;
position: absolute;
border-radius: 0.3em;
left: 28%;
padding-bottom: 2.5em;
padding-top: 3em;
margin-top: 120px;
}

.nav {
position: fixed;
color: white;
padding: 30px 0px;
text-align: center;
font-weight: 300;
width: 100%;
background: rgba(0,0,0,0.5);
z-index: 1000;
}

.nav .link {
display: inline-block;
text-transform: uppercase;
padding: 0px 20px;
}

#signup-form{
box-sizing: border-box;
display: none;
color: #FFF;
border-radius: 0.3em;
margin: auto;
width: 65%;
}


input{
padding:.8em;
border: 1px solid #A7A7A7;
display: inline-block;
clear: both;
border-radius:.3em;
font-family: 'Lato', sans-serif;
}

.input_field {
width:100%;
margin-bottom:20px;
margin-top:20px;
}
#signup-button {
width: 15em;
margin-top: 1.5em;

}


#signup-email,#signup-event,#signup-company,#signup-telephone,#signup-date,#signup-start,#signup-end,#signup-contact,#signup-venue{
padding:.8em;
border: 1px solid #A7A7A7;
display: inline-block;
clear: both;
border-radius:.3em;
width:92%;
font-family: 'Lato', sans-serif;
}

.small{
font-family: 'Lato', sans-serif;
width: 56%;
}

#end{
width:29%;
}

.check1{
margin-top: 10px;
margin-bottom: 1em;
}

#semi{
position:absolute;
left:-13%;
bottom:8%;
font-size:27px;
}

#necessary{
position:absolute;
left:1em;
bottom:1em;
}

#signup-comments{
margin-bottom:-1px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-radius:.6em;
-moz-border-radius:.6em;
-ms-border-radius:.6em;
-o-border-radius:.6em;
border-radius:.6em;
width:100%;
padding-top:1em;
padding-left:1em;
font-family: 'Lato', sans-serif;
}

#save{
height:2.3em;
padding:0 1em;
font-size:1.2em;
font-weight:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-border-radius:.3em;
-moz-border-radius:.3em;
-ms-border-radius:.3em;
-o-border-radius:.3em;
border-radius:.3em;
border:none;
background:#424242;
color:#FFF;
display:block;
cursor: pointer;
clear:both;
margin-bottom:5em;
margin:auto;
width:8em;
cursor:pointer;
}


.row{
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: -webkit-transform;
transition-property: transform;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}

.short_row{
width: 25%;
float:left;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: -webkit-transform;
transition-property: transform;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}

input:hover {

box-shadow: 0 0 11px rgba(80, 197, 228, 1);
}

#save:hover{
box-shadow:0 0 0 rgba(0,0,0,0);
color:lightblue;
}

.row textarea:hover {

box-shadow: 0 0 11px rgba(80, 197, 228, 1);
}



/* for smaller tablet(ish) screens 
@media (max-width:990px) {

#signup-email,#signup-event,#signup-company,#signup-telephone,#signup-date,#signup-start,#signup-end,#signup-contact,#signup-venue{

width:75%;
}

#signup-comments{

width:75%;
}

#form_background{
background: none repeat scroll 0% 0% #000;
opacity: 0.75;
width: 60%;
position: absolute;
border-radius: 0.3em;
left: 20%;
padding-bottom: 2.5em;
padding-top: 3em;
margin: 8em auto;
}

}  end media max-width 900px */








/*accordion css*/
#left_nav {
width:250px;
}
#body {
width:90%;
float:left;
margin:10px;
}
.accordion {
margin: 0px;
padding: 10px;
height: 20px;
font-family: Arial,Helvetica,sans-serif;
text-decoration: none;
text-transform: uppercase;
font-size: 1em;
opacity: 0.8;
background: none repeat scroll 0% 0% #262626;
border: 0.01em solid #808080;
}
.accordion-open {
background: none repeat scroll 0% 0% rgba(30, 30, 30, 1);
color: lightblue;
}
.accordion-open span {
display:block;
float:right;
padding:10px;
}
.accordion-open span {
background:url(../images/minus.png) center center no-repeat;
}
.accordion-close span {
display:block;
float:right;
background:url(../images/plus.png) center center no-repeat;
padding:10px;
}
div.container {
padding:0;
margin-top:1em;
margin-bottom:1em;
}
div.content {
background:#f0f0f0;
margin: 0;
padding:10px;
font-size:.9em;
line-height:1.5em;
font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
div.content ul, div.content p {
padding:0;
margin:0;
padding:3px;
}
div.content ul li {
list-style-position:inside;
line-height:25px;
}
div.content ul li a {
color:#555555;
}
code {
overflow:auto;
}
#section1{
border-top-left-radius: 0.3em;
border-top-right-radius: 0.3em;
cursor:pointer; 
}
#section2{
cursor:pointer;
}
#section3{
border-bottom-left-radius: 0.3em;
border-bottom-right-radius: 0.3em;
margin-bottom:1em;
clear:both;
;cursor:pointer; 
}



/*!
* Datepicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Improvements by Andrew Rowls
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.datepicker {
padding: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
direction: ltr;
/*.dow {
border-top: 1px solid #ddd !important;
}*/
}
.datepicker-inline {
width: 220px;
}
.datepicker.datepicker-rtl {
direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
float: right;
}
.datepicker-dropdown {
top: 0;
left: 0;
}
.datepicker-dropdown:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-top: 0;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
}
.datepicker-dropdown:after {
content: '';
display: inline-block;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
border-top: 0;
position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before {
left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after {
left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before {
right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after {
right: 7px;
}
.datepicker-dropdown.datepicker-orient-top:before {
top: -7px;
}
.datepicker-dropdown.datepicker-orient-top:after {
top: -6px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
bottom: -7px;
border-bottom: 0;
border-top: 7px solid #999;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
bottom: -6px;
border-bottom: 0;
border-top: 6px solid #ffffff;
}
.datepicker > div {
display: none;
}
.datepicker.days div.datepicker-days {
display: block;
}
.datepicker.months div.datepicker-months {
display: block;
}
.datepicker.years div.datepicker-years {
display: block;
}
.datepicker table {
margin: 0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.datepicker td,
.datepicker th {
text-align: center;
width: 20px;
height: 20px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: none;
}

.datepicker .cw {
font-size: 10px;
width: 12px;
padding: 0 2px 0 5px;
vertical-align: middle;
}
.datepicker thead tr:first-child th.cw {
cursor: default;
background-color: transparent;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
cursor: pointer;
width: 16px;
height: 16px;
}
.input-daterange input {
text-align: center;
}
.input-daterange input:first-child {
-webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
-webkit-border-radius: 0 3px 3px 0;
-moz-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
display: inline-block;
width: auto;
min-width: 16px;
height: 20px;
padding: 4px 5px;
font-weight: normal;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 0 #ffffff;
vertical-align: middle;
background-color: #eeeeee;
border: 1px solid #ccc;
margin-left: -5px;
margin-right: -5px;
}
.datepicker.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
float: left;
display: none;
min-width: 160px;
list-style: none;
background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
*border-right-width: 2px;
*border-bottom-width: 2px;
color: #333333;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 20px;
}
.datepicker.dropdown-menu th,
.datepicker.dropdown-menu td {
padding: 4px 5px;
}






/* time picker css */
.ui-timepicker-wrapper {
overflow-y: auto;
height: 150px;
width: 6.5em;
background: #fff;
border: 1px solid #ddd;
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
box-shadow:0 5px 10px rgba(0,0,0,0.2);
outline: none;
z-index: 10001;
margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
width: 11em;
}

.ui-timepicker-list {
margin: 0;
padding: 0;
list-style: none;
}

.ui-timepicker-duration {
margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
color: #888;
}

.ui-timepicker-list li {
padding: 3px 0 3px 5px;
cursor: pointer;
white-space: nowrap;
color: #000;
list-style: none;
margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
color: #888;
cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
background: #f2f2f2;
}

@media (max-width: 1172px){

	#form_background {
    background: none repeat scroll 0% 0% #000;
    opacity: 0.8;
    width: 55%;
    position: absolute;
    border-radius: 0.3em;
    left: 28%;
    padding-bottom: 2.5em;
    padding-top: 3em;
    margin-top: 120px;
    left: 22%;
    }
}

@media (max-width: 955px){

	#form_background {
    background: none repeat scroll 0% 0% #000;
    opacity: 0.8;
    position: absolute;
    border-radius: 0.3em;
    padding-bottom: 2.5em;
    padding-top: 3em;
    width: 65%;
    margin-top: 120px;
    left: 17%;
	}

	
	#signup-form {
    box-sizing: border-box;
    display: none;
    color: #FFF;
    border-radius: 0.3em;
    margin: auto;
    width: 78%;
	}

}