a {
	text-decoration: none;
	color: inherit;
}
.active-link {
	color: lightblue;
}
html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}
body {
	height: 100%;
}
.full {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% auto;		
	background-color: black;	
}
.full .content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	margin: auto;
}

.nav {
	position: fixed;
	color: white;
	padding: 30px 0px;
	text-align: center;
	font-weight: 300;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
}
.nav .link {
	display: inline-block;
	text-transform: uppercase;
	padding: 0px 20px;
	overflow: hidden;
	transition: height 0.4s;
	-webkit-transition: height 0.4s;
	-o-transition: height 0.4s;
	-moz-transition: height 0.4s;
}
.nav-mob {
	display: none;
	padding: 10px 0px;
}

@media screen and (max-width: 1024px) {
	.nav {
		background: black;
		padding: 0px 0px;
		position: static;
	}
	.nav-mob {
		display: block;
		font-size: 1em;
	}
	.nav .link {
		display: block;
		padding: 0px;
		font-size: 30px;
		height: auto;
	}
	.nav .link.shrink {
		height: 0px;
	}
}